---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="5G-Astra: About us :)">
    <section class="max-w flex-col justify-center items-center content-center align-middle flex">
        <div
            class="flex flex-col bg-black/50 rounded-xl m-8 pt-7 px-7 max-w-[800px]"
        >
            <img src="fotito.webp" />
            <ul
                class="flex text-gray-300 text-xl w-full justify-around text-center mb-8"
            >
                <li>Juan Carlos<br /> Jiménez Ariza</li>
                <li>Juan José<br /> Martin Jurado</li>
                <li>Manuel<br />Martínez Rodríguez</li>
                <li>Ignacio<br />Mata Almagro</li>
            </ul>
        </div>
        <p
            style="font-style: italic; max-width: 900px; margin: 0 auto; text-align: center; font-size: 1.2rem; color: #D1D5DB;"
        >
            Experience the future of connectivity with 5G Advanced System for
            Testing RAN Architectures, the ultimate platform for simulating,
            designing, and optimizing 5G networks. Our state-of-the-art system
            empowers researchers, developers.
        </p>
    </section>
</Layout>
