---
import Layout from "@/layouts/Layout.astro";
import SimulationForm from "@/components/SimulationForm.astro";
---

<Layout title="5G Astra: Simulator">
    <section class="flex w-full justify-center align-middle p-10">
        <SimulationForm />
    </section>
</Layout>
